// Consider LocalDateTime stable
//java.time.LocalDateTime
// Consider my datalayer stable
//com.datalayer.*
// Consider my datalayer and all submodules stable
//com.datalayer.**
// Consider my generic type stable based off it is first type parameter only
//com.example.GenericClass<*,_>
// Stable snapshot
com.zs.domain.db.media.Snapshot
coil3.UriKt.Uri
//
com.zs.domain.db.media.Album
com.zs.domain.db.media.Album.Memory
